main.container {
  text-align: center;
  padding: 60px 100px 100px 100px;
}

.form-register {
  display: inline-block;
  width: 400px;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control input {
  display: block;
  width: 90%;
  height: 30px;
  border-radius: 50px;
  padding: 0px 5%;
  border: 2px solid #aaa;
}

.form-control label {
  display: block;
  width: 90%;
  height: 25px;
  padding: 0px 5%;
  text-align: left;
}

.form-control .form-radio-group input {
  float: left;
  width: auto;
  height: 15px;
}

.form-control .form-radio-group label {
  float: left;
  width: auto;
}

.form-button-group {
  padding-top: 30px;
  clear: both;
  display: flex;
  justify-content: space-between;
}

button.submit,
button.reset {
  display: block;
  border-radius: 50px;
  height: 40px;
  width: 48%;
  border: 0;
  background-color: #444;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

button.reset {
  background-color: #222;
}

.form-control input:focus {
  outline: none;
  border-color: #222;
}