USE [FakeDC]
GO
/****** Object:  StoredProcedure [dbo].[PST_sd_List]    Script Date: 2020-08-08 오후 7:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sunghyuk Choi
-- Create date: 2020-07-11
-- Description:	게시글 리스트 출력
-- Test Code
--DECLARE @ERR_CD INT, @ERR_MSG VARCHAR(100);
--DECLARE @BOARD_ID VARCHAR(20);
--DECLARE @SEARCH_TYPE INT = 3;	-- SELECT * FROM MASTER_CODE WHERE MASTER_CODE_GROUP_ID = 2
--DECLARE @POST_TYPE INT = NULL;		-- MASTER_CODE_GROUP_ID = 1
--DECLARE @KEYWORD VARCHAR(50) = NULL;

--DECLARE @PAGING_SIZE INT = 3;
--DECLARE @PAGING_INDEX INT = 1;
--EXEC PST_sd_List @BOARD_ID, @SEARCH_TYPE, @POST_TYPE, @KEYWORD, @PAGING_SIZE, @PAGING_INDEX, @ERR_CD OUT, @ERR_MSG OUT;
-- =============================================
ALTER PROCEDURE [dbo].[PST_sd_List] 
	@BOARD_ID VARCHAR(20),
	@SEARCH_TYPE INT,		-- MASTER_CODE_GROUP_ID = 2
	@POST_TYPE INT = NULL,	-- MASTER_CODE_GROUP_ID = 1
	@KEYWORD VARCHAR(50) = NULL,

	@PAGING_SIZE INT,
	@PAGING_INDEX INT,

	@ERR_CD INT = NULL OUT,
	@ERR_MSG VARCHAR(100) = NULL OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 --   SELECT 
	--	P.*,
	--	PTYPE.CODE_NAME [POST_TYPE_NAME]
	--FROM POST P
	--JOIN MASTER_CODE PTYPE ON P.POST_TYPE = PTYPE.CODE_VALUE AND PTYPE.MASTER_CODE_GROUP_ID = 1
	--WHERE 
	--	P.DBSTATUS = 'A'
	--	AND (@POST_TYPE IS NULL OR POST_TYPE = @POST_TYPE)		-- 게시글 종류
	--	AND @KEYWORD IS NULL OR (
	--		@SEARCH_TYPE = 1 AND P.POST_TITLE LIKE '%' + @KEYWORD + '%'
	--		OR @SEARCH_TYPE = 2 AND P.CREATE_USER LIKE '%' + @KEYWORD + '%'
	--		OR @SEARCH_TYPE = 3 AND P.POST_CONTENT LIKE '%' + @KEYWORD + '%'
	--	)
	--ORDER BY POST_ID DESC
	--OFFSET @PAGING_SIZE * @PAGING_INDEX ROWS FETCH NEXT @PAGING_SIZE ROWS ONLY;	-- SQL SERVER 2012 부터 지원되는 페이징 쿼리

	-- SQL SERVER 2012 이전에 사용하던 페이징 쿼리
	SELECT *
	FROM (
		SELECT 
			P.*,
			PTYPE.CODE_NAME [POST_TYPE_NAME],
			ROW_NUMBER() OVER (ORDER BY P.POST_ID DESC) AS ROWNUM,
			COUNT(*) OVER() AS TOT_CNT
		FROM POST P
		JOIN MASTER_CODE PTYPE ON P.POST_TYPE = PTYPE.CODE_VALUE AND PTYPE.MASTER_CODE_GROUP_ID = 1
		WHERE 
			P.DBSTATUS = 'A'
			AND P.BOARD_ID = @BOARD_ID
			AND (@POST_TYPE IS NULL OR POST_TYPE = @POST_TYPE)		-- 게시글 종류
			AND @KEYWORD IS NULL OR (
				@SEARCH_TYPE = 0
				OR @SEARCH_TYPE = 1 AND P.POST_TITLE LIKE '%' + @KEYWORD + '%'
				OR @SEARCH_TYPE = 2 AND P.CREATE_USER LIKE '%' + @KEYWORD + '%'
				OR @SEARCH_TYPE = 3 AND P.POST_CONTENT LIKE '%' + @KEYWORD + '%'
			)
		) AS PST
	WHERE PST.ROWNUM BETWEEN (@PAGING_INDEX * @PAGING_SIZE) + 1 AND @PAGING_SIZE * (@PAGING_INDEX + 1)

	SET @ERR_CD = 1
	SET @ERR_MSG = ''
END