<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.likeaglow.fakedc.repository.MemberRepository">

  <!-- 모든 회원 불러오기 -->
  <select id="findAll" resultType="my.likeaglow.fakedc.model.MemberVO">
    SELECT * FROM member
  </select>
  
  <!-- 로그인 -->
  <select id="checkAuth" 
    parameterType="my.likeaglow.fakedc.model.AuthCheckDTO" 
    resultType="my.likeaglow.fakedc.model.LoginMemberDTO"
    statementType="CALLABLE">
    <!-- statementType="CALLABLE : 프로스저 실행을 의미  프로시저를 실행하여 처리함으로써 insert나 update 태그 등이 필요없음.-->
    { call MEM_sr_AuthCheck (#{MEM_ID}, #{MEM_PASSWORD}, #{ERR_CD, mode=OUT, jdbcType=INTEGER}, #{ERR_MSG, mode=OUT, jdbcType=VARCHAR}) }
    <!--  ERR_CO, ERR_MSG의 결과는 parameterType에 담긴다. -->
  </select>
  
  <!-- 회원가입 -->
  <select id="register" 
    parameterType="my.likeaglow.fakedc.model.RegisterDTO"
    statementType="CALLABLE">
    { call MEM_in_Register (#{MEM_ID}, #{MEM_NAME}, #{MEM_PASSWORD}, #{EMAIL}, #{PHONE_NUM}, #{BIRTHDAY}, #{INFO_OFFER}, #{ERR_CD, mode=OUT, jdbcType=INTEGER}, #{ERR_MSG, mode=OUT, jdbcType=VARCHAR}) }
  </select>
  
  <!-- 회원정보 조회 -->
  <select id="myInfo"
  parameterType="java.lang.String"
  resultType="my.likeaglow.fakedc.model.MemberVO"
  statementType="CALLABLE">
  { call MEM_sr_MyInfo (#{memberId}) }
  </select>
  <!-- 여기서 parameterType="java.lang.String"인 경우 parametrType 속성을 생략 가능함. -->
  
  <!-- 회원 정보 수정 -->
   <select id="updateInfo"
  parameterType="my.likeaglow.fakedc.model.UpdateMemberDTO"
  resultType="my.likeaglow.fakedc.model.MemberVO"
  statementType="CALLABLE">
  { call MEM_un_updateInfo (#{MEM_ID}, #{MEM_NAME}, #{MEM_PASSWORD}, #{EMAIL}, #{PHONE_NUM}, #{BIRTHDAY}, #{INFO_OFFER}, #{ERR_CD, mode=OUT, jdbcType=INTEGER}, #{ERR_MSG, mode=OUT, jdbcType=VARCHAR} )}
  </select>
  
  <!-- 회원 탈퇴 -->
  <select id="leave"
  parameterType="my.likeaglow.fakedc.model.LeaveDTO"
  statementType="CALLABLE">
  { call MEM_dn_Leave (#{MEM_ID}, #{ERR_CD, mode=OUT, jdbcType=INTEGER}, #{ERR_MSG, mode=OUT, jdbcType=VARCHAR} )}
  </select>
</mapper>