<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.likeaglow.fakedc.repository.PostRepository">
  
  <!-- 글쓰기 -->
  <select id="savePost" 
    parameterType="my.likeaglow.fakedc.model.writePostDTO"    
    statementType="CALLABLE">
    { call PST_in_WritePost (
     #{BOARD_ID}
    ,#{POST_TITLE}
    ,#{POST_CONTENT}
    ,#{POST_PASSWORD}
    ,#{POST_TYPE}
    ,#{CREATE_USER}
    ,#{POST_ID, mode=OUT, jdbcType=INTEGER}
    ,#{ERR_CD, mode=OUT, jdbcType=INTEGER}
    ,#{ERR_MSG, mode=OUT, jdbcType=VARCHAR}) }
  </select>
  
  <!-- 글보기 -->
  <select id="selectPost" 
    parameterType="java.lang.Long"
    resultType="my.likeaglow.fakedc.model.PostVO"    
    statementType="CALLABLE">
    { call PST_sr_Post (
     #{POST_ID}    
    )}
  </select>
  
  <!-- 글 목록 불러오기 -->
  <select id="postList" 
    parameterType="my.likeaglow.fakedc.model.PostListDTO"
    resultType="my.likeaglow.fakedc.model.PostVO"    
    statementType="CALLABLE">
    { call PST_sd_List (
     #{BOARD_ID}
    ,#{SEARCH_TYPE}
    ,#{POST_TYPE}
    ,#{KEYWORD}
    ,#{PAGING_SIZE}
    ,#{PAGINE_INDEX}
    ,#{ERR_CD, mode=OUT, jdbcType=INTEGER}
    ,#{ERR_MSG, mode=OUT, jdbcType=VARCHAR}) }
  </select>
  
  <!-- 글 본인 인증 -->
  <select id="authCheck"
    parameterType="my.likeaglow.fakedc.model.PostAuthCheckDTO"    
    statementType="CALLABLE">
    { call PST_sr_AuthCheck (
     #{POST_ID}
    ,#{MEM_ID}
    ,#{ERR_CD, mode=OUT, jdbcType=INTEGER}
    ,#{ERR_MSG, mode=OUT, jdbcType=VARCHAR}) }
  </select>
  
  <!-- 글 수정하기 -->
  <select id="updatePost"
    parameterType="my.likeaglow.fakedc.model.UpdatePostDTO"
    resultType="my.likeaglow.fakedc.model.PostVO"    
    statementType="CALLABLE">
    { call PST_un_Post (
     #{POST_ID}
    ,#{POST_TITLE}
    ,#{POST_CONTENT}
    ,#{POST_PASSWORD}
    ,#{POST_TYPE}    
    ,#{ERR_CD, mode=OUT, jdbcType=INTEGER}
    ,#{ERR_MSG, mode=OUT, jdbcType=VARCHAR}) }
  </select>
  
  
</mapper>